body {
  font-family: courier;
  background: #ffeb8b repeating-linear-gradient(to bottom, #ffbfcf 0%, #ffbfcf 15%, #ffc2be, #ffcba9, #ffd995, #ffeb8b);
  background-repeat: no-repeat;
  width: 1000px;
  margin-left: auto;
  margin-right:auto;
  margin-top:auto;
}
  
  ::-moz-selection { background-color: #FFE6E9; }
  ::selection { background-color: #FFE6E9; }
  
  html {
    cursor: url("https://chameleon.neocities.org/favicons/cursor.png"), auto;
}
  
header {
  width: 100%;
  background-image:url("https://chameleon.neocities.org/misc/rhps-chameleon.png"), url('https://chameleon.neocities.org/favicons/him.png');
  background-position:bottom left, bottom right;
  background-repeat:no-repeat, no-repeat;
  height:110px;
}



main {
  width:100%;
  background-color:white;
  color:black;
  font-size: 14px;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid #ccc;
  height:75vh;
  text-align:center;
}
  
#main {
  overflow:scroll;
  height:75vh;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f2f2f2;  
    float:left;
    height:75vh;
    min-width:120px;
    }

audio {
  margin-bottom:20px;
}

#music {
	width: 333px;
	margin-left: auto;
	margin-right: auto;
}

/* party time changin colours of all the text shits yk how it is */

a {
  color: #000000;
  cursor: url("https://chameleon.neocities.org/favicons/cursor2.png"), auto;
}

a:hover {
  color: #ff99b3;
}

nav p a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-variant:none;
}

nav p a:hover {
    background-color: #ffcfdc;
    color:black;
}

urgent {
  background: #ffeb8b;
  color: #000000;
}

urgent a:hover {
  color: #000000;
}

h1 {
  color: #FF99B3;
  font-size: 14px;
}

h2, h3, h4 {
  color: #FF99B3;
  font-size: 18px;
}

h6 {
	color: #FF99B3;
	font-size: 14px;
	font-weight: normal;
	margin:auto;
}

/* scrollbar time babes!!! */

::-webkit-scrollbar {
    width: 0;
    opacity:0;
}

::-webkit-scrollbar-track {
    opacity:0;
}

::-webkit-scrollbar-thumb {
    opacity:0;
}

::-webkit-scrollbar-thumb:hover {
    opacity:0;
}

/* scrollbar end */